.team-list {
  margin-top: 1rem;

  .team {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
  
    .team-name {
      font-size: 100%;
      margin: 0;
    }

    .team-link:not(:last-child) {
      display: inline-block;
      margin-right: 0.5rem;
    }
  
    .team-logo {
      height: 40px;
      width: 40px;
    }
  }
}